table.mat-table {
  display: table;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  background-color: #FAFAFA;
}
th {
  /* background-color: rgb(139, 199, 255); */
  text-align: center;
  /* color: white; */
}

td {
  padding-left: 10px;
  text-align: left;
  /* background-color: aqua; */
  max-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mat-column-srNo {
  width: 4%;
}

.mat-column-productName {
  width: 15%;
  padding-left: 5px;
}
.mat-column-productDescription {
  width: 25%;
  padding-left: 5px;
}
.mat-column-productImage {
  width: 30%;
  padding-left: 5px;
}

.mat-column-productPrice {
  width: 5%;
  text-align: center;
}
.mat-column-editProduct {
  width: 5%;
  text-align: center;
  cursor: pointer;
}

.mat-column-deleteProduct {
  width: 5%;
  text-align: center;
  cursor: pointer;
}

.mat-column-downloadQR {
  width: 4%;
  text-align: center;
  cursor: pointer;
}