<ion-header>
  <ion-toolbar>
    <ion-title>User</ion-title>
    <ion-button slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label class="lable">Name:</ion-label>
  <ion-input required class="userform"></ion-input>
  <ion-label class="lable">Phone Number:</ion-label>
  <ion-input class="userform"></ion-input>
  <ion-label class="lable">E-mail id:</ion-label>
  <ion-input class="userform"></ion-input>
  <ion-label class="lable">Address:</ion-label>
  <ion-input class="userform"></ion-input>
</ion-content>
