<ion-header>
  <ion-toolbar>
    <ion-title>orderForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [ngSwitch]="stepperOrientation | async">
    <div *ngSwitchCase="'horizontal'"></div>
    <div *ngSwitchCase="'vertical'"></div>
  </ng-container>
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!"
  >
    <mat-step [stepControl]="userDetails" label="Fill out your Details">
      <form [formGroup]="userDetails">
        <ion-item>
          <ion-label position="floating">Name:</ion-label>
          <ion-input
            inputmode="text"
            placeholder="Enter Name"
            minlength="5"
            maxlength="25"
            clearInput
            spellcheck="true"
            required="true"
            formControlName="userName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone Number:</ion-label>
          <ion-input
            type="number"
            inputMode="numeric"
            pattern="[0-9]*"
            placeholder="Enter Phone Number"
            clearInput
            formControlName="userPhoneNo"
            required="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input readonly="true" formControlName="userEmail"> </ion-input>
        </ion-item>
        <button mat-button matStepperNext [disabled]="!(userDetails.valid)">
          Save
        </button>
      </form>
    </mat-step>

    <mat-step [stepControl]="addressForm" label="Fill out your Address">
      <form [formGroup]="addressForm">
        <ion-item>
          <ion-label position="floating">Address:</ion-label>
          <ion-textarea
            inputmode="text"
            placeholder="Enter Address"
            wrap="hard"
            minlength="10"
            maxlength="200"
            spellcheck="true"
            required="true"
            formControlName="userAddress"
          ></ion-textarea>
        </ion-item>
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-button
          matStepperNext
          [disabled]="!(userDetails.valid &&  addressForm.valid)"
          (click)="setuserInfo()"
        >
          Next
        </button>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
</ion-content>
