<ion-header>
  <ion-toolbar color="primary">
    <ion-title
      >Order Form
      <ion-icon routerLink=".." id="close" name="close-sharp"></ion-icon
    ></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container [ngSwitch]="stepperOrientation | async">
    <div *ngSwitchCase="'horizontal'"></div>
    <div *ngSwitchCase="'vertical'"></div>
  </ng-container>

  <mat-stepper
    linear
    #stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!"
  >
    <mat-step [stepControl]="userDetails" label="Fill out your Details">
      <form [formGroup]="userDetails">
        <ion-grid>
          <ion-list>
            <ion-row class="ion-justify-content-center">
              <ion-col size-md="6" size-lg="5" size-xs="12">
                <ion-item fill="outline">
                  <ion-label position="floating">Name:</ion-label>
                  <ion-input
                    inputmode="text"
                    placeholder="Enter Full Name...."
                    minlength="5"
                    maxlength="25"
                    clearInput
                    spellcheck="true"
                    required="true"
                    formControlName="userName"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size-md="6" size-lg="5" size-xs="12">
                <ion-item fill="outline">
                  <ion-label position="floating">Phone Number:</ion-label>
                  <ion-input
                    type="number"
                    inputMode="numeric"
                    placeholder="Enter Phone Number"
                    required="true"
                    formControlName="userPhoneNo"
                    clearInput
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size-md="6" size-lg="5" size-xs="12">
                <ion-item fill="outline">
                  <ion-label position="floating">E-mail:</ion-label>
                  <ion-input readonly="true" formControlName="userEmail">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size-md="6" size-lg="5" size-xs="12">
                <ion-item fill="outline">
                  <ion-label position="floating">Address:</ion-label>
                  <ion-textarea
                    type="text"
                    inputmode="text"
                    placeholder="Enter Address"
                    formControlName="userAddress"
                    wrap="hard"
                    minlength="10"
                    maxlength="200"
                    spellcheck="true"
                    required="true"
                  ></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size-md="6" size-lg="5" size-xs="12">
                <div class="end">
                  <button
                    style="margin-top: 10px"
                    mat-raised-button
                    color="primary"
                    matStepperNext
                    [disabled]="!(userDetails.valid)"
                    (click)="setuserInfo()"
                  >
                    Save & Next
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-grid>
      </form>
    </mat-step>

    <mat-step label="Payment Details">
      <form>
        <mat-accordion class="headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Cart Items </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-list>
              <ion-item lines="full" *ngFor="let p of products">
                <ion-thumbnail slot="start">
                  <img [src]="p.productImage" />
                </ion-thumbnail>
                <ion-label>
                  <h2>{{p.productName}}</h2>
                  <p>
                    {{p.productPrice*p.productQuantity |
                    currency:"INR":'symbol':'2.0' }}
                  </p>
                </ion-label>
                <mat-form-field class="select" slot="end" appearance="standard">
                  <mat-select
                    (selectionChange)="updateProductbyquantity($event,p.id)"
                    [(value)]="p.productQuantity"
                  >
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="5">5</mat-option>
                  </mat-select>
                </mat-form-field>
                <ion-icon
                  slot="end"
                  name="close-circle-sharp"
                  (click)="deleteProduct(p.id)"
                ></ion-icon>
              </ion-item>
              <ion-item *ngIf="products.length!==0">
                <strong> Total Amount:</strong>
                <ion-label slot="end">
                  <strong>
                    {{ getTotal() | currency:"INR":'symbol':'2.0' }}
                  </strong>
                </ion-label>
              </ion-item>
            </ion-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Razor Pay </mat-panel-title>
            </mat-expansion-panel-header>
            <button
              class="end"
              style="margin-top: 10px"
              mat-raised-button
              color="primary"
              [disabled]="!(userDetails.valid)"
              (click)="pay()"
            >
              Pay
            </button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Cash On Delivery </mat-panel-title>
            </mat-expansion-panel-header>
            <button
              class="end"
              style="margin-top: 10px"
              mat-raised-button
              color="primary"
              [disabled]="!(userDetails.valid)"
              (click)="orderProductCOD()"
            >
              Cash On Delivery
            </button>
          </mat-expansion-panel>
        </mat-accordion>
        <button
          style="margin-top: 10px; margin-right: 10px"
          mat-raised-button
          color="primary"
          matStepperPrevious
        >
          Back
        </button>
        <button
          #next
          style="margin-top: 10px"
          mat-raised-button
          color="primary"
          matStepperNext
          [disabled]="!(enable)"
        >
          Next
        </button>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <!-- matStepperPrevious -->
        <button
          mat-raised-button
          style="margin-top: 10px"
          color="primary"
          routerLink="/orders"
        >
          <!-- (click)="orderProducts()" -->
          Check Orders
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</ion-content>
