<ion-list>
  <div *ngIf="this.productInfo.productImage" class="imgc">
    <div
      class="img"
      [ngStyle]="{
        'background-image': 'url(' + this.productInfo.productImage + ')'
      }"
    ></div>
  </div>
  <mat-divider></mat-divider>
  <ion-item>
    <ion-label position="stacked">Product Name</ion-label>
    <ion-input
      [readonly]="true"
      spellcheck="true"
      [value]="this.productInfo.productName"
    ></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea
      [readonly]="true"
      rows="6"
      cols="20"
      spellcheck="true"
      wrap="hard"
      [value]="this.productInfo.productDescription"
    >
    </ion-textarea>
  </ion-item> -->
  <ion-item>
    <ion-label position="stacked">Product Price</ion-label>
    <ion-input
      [readonly]="true"
      [value]="this.productInfo.productPrice"
    ></ion-input>
    <mat-form-field class="select" slot="end" appearance="standard">
      <mat-label>Select Quantity</mat-label>
      <mat-select [(value)]="productQuantity">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="5">5</mat-option>
      </mat-select>
    </mat-form-field>
  </ion-item>
</ion-list>
<ion-button (click)="dailogClose()">Close</ion-button>
<ion-button (click)="addtocart()">Add to Cart</ion-button>
