<ion-content>
  <ion-card class="card">
    <div class="row justify-content-center">
      <a
        class="btn btn-outline-dark"
        (click)="signIn()"
        role="button"
        style="text-transform: none; padding-right: 2em; margin-bottom: 1em"
      >
        <img
          width="20px"
          style="margin-bottom: 3px; margin-right: 5px"
          src="./assets/Google.svg"
          alt="Google sign-in"
        />
        Login with Google
      </a>
    </div>
  </ion-card>
</ion-content>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
