<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-button slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque perspiciatis
    labore blanditiis provident eveniet dolor praesentium modi similique
    adipisci nulla sequi ut quaerat repellat numquam sapiente sunt dicta omnis,
    rem velit? Voluptatum expedita, animi et reiciendis nulla cupiditate enim,
    nam voluptatibus, doloribus saepe quisquam veritatis nisi! Quibusdam quos,
    quod hic delectus, minus, iusto reprehenderit qui rerum autem dignissimos
    aliquam dolorum sed. Doloribus totam corrupti reiciendis recusandae modi
    quisquam.
  </p>
</ion-content>
