<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-button slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-text-center">
    <!-- <ion-row class="ion-margin">
      <ion-col>
        <ion-title>
          <ion-text color="default">
            This afhaiujhfiuahwoihno
          </ion-text>
        </ion-title>
      </ion-col>
    </ion-row> -->

    <ion-row class="header-row">
      <ion-col>
        <ion-text>Sr No</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Product Name</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Product Description</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>Product price</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>Product Image</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>Product QRcode</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>Delete Product</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let product of products let i=index;">
      <ion-col>
        <ion-text>{{i+1}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>{{product.productName}}</ion-text>
      </ion-col>

      <ion-col>
        <ion-text class="ion-wrap">{{product.productDescription}}</ion-text>
      </ion-col>

      <ion-col>
        <ion-text class="ion-wrap">{{product.productPrice}}</ion-text>
      </ion-col>
      <ion-col>
        <div class="imgc">
          <div
            class="img"
            [ngStyle]="{ 'background-image': 'url(' + product.productImage + ')' }"
          ></div>
        </div>
      </ion-col>

      <ion-col>
        <qrcode
          [qrdata]="product.id"
          [width]="256"
          [elementType]="'img'"
          [errorCorrectionLevel]="'Q'"
          cssClass="center"
        ></qrcode>
      </ion-col>

      <ion-col> <ion-icon name="trash-sharp" (click)="deleteProduct(product.id)"></ion-icon> </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product">{{product.id}}</td>
    </ng-container>

    <ng-container matColumnDef="productDescription">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let product">{{product.productDescription}}</td>
    </ng-container>

    <ng-container matColumnDef="productPrice">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">{{product.productPrice}}</td>
    </ng-container> -->

  <!-- <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
    </ng-container> -->

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

  <ion-button (click)="openDialog()"> Generate Product </ion-button>
</ion-content>
