<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Products</ion-title>
    <ion-menu-button slot="start" menu="main-menu"> </ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="this.userInfo.admin==true">
  <app-products-table></app-products-table>
  <ion-button
    class="Btndailog"
    (click)="openDialog()"
    expand="block"
    shape="round"
    style="margin-right: 10%; margin-left: 10%"
    >Generate Product
  </ion-button>
</ion-content>
<ion-content *ngIf="this.userInfo.admin==null">
  <h1>This page is only for admin</h1>
</ion-content>
