<ion-header>
  <ion-toolbar>
    <ion-title>total</ion-title>
    <ion-menu-button slot="start" menu="main-menu"> </ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, eligendi
      ratione nemo non ab tenetur quis natus porro eaque ipsa corrupti soluta
      qui adipisci. Obcaecati, excepturi vero? Distinctio maiores dolor vitae
      voluptatem provident. Reiciendis maxime quasi provident aut, at eveniet
      laboriosam, soluta omnis quo tempora dignissimos voluptas vitae iste
      doloremque, labore aspernatur? Praesentium alias doloribus laudantium
      perspiciatis voluptatem ipsum velit.
    </p>
  </ion-content>
</ion-content>
