<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
    <ion-button slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content
  ><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nihil
    distinctio fugiat aliquam assumenda odio? Atque nesciunt quaerat quo
    expedita, autem aliquam, repudiandae id amet, omnis ducimus harum quia eum
    fugit tempora! Culpa quia placeat, magnam repellat rem sequi neque, eaque
    error sunt vel eveniet fugit magni porro facilis dolore unde. Saepe ab sit
    cupiditate odit distinctio, doloribus facilis suscipit sed neque excepturi
    delectus! Atque, nemo porro?
  </p>
</ion-content>
