<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
    <ion-button slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div *ngFor="let orderProduct of orders">
   <div *ngFor="let pro of orderProduct">
     <div *ngFor="let p of pro">{{p}}</div>
   </div>
  </div> -->
  <div *ngFor="let ids of orders">
    <ion-button (click)="fetchProduct(ids)">{{ids}}</ion-button>
  </div>

  <div *ngFor="let o of products.orderedProducts">{{o.productName}}</div>
  <ion-button>kk</ion-button>
</ion-content>
