<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Orders</ion-title>
    <ion-menu-button slot="start" menu="main-menu"> </ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-accordion-group>
    <ion-accordion *ngFor="let id of ordersId">
      <ion-item
        slot="header"
        button
        (click)="fetchProduct(id.userId, id.orderId)"
      >
        <ion-label> Order Id #{{id.orderId}}</ion-label>
        <!-- <ion-text
          slot="end"
          style="font-size: small"
          *ngIf="id.status=='undelivered'"
          >Undelivered</ion-text
        >
        <ion-text
          slot="end"
          style="font-size: small"
          *ngIf="id.status=='delivered'"
          >Delivered</ion-text
        > -->
      </ion-item>
      <ion-list slot="content">
        <ion-item lines="full">
          <ion-label> Order Date: {{ createdAt }}</ion-label>
        </ion-item>
        <ion-item
          class="ion-padding-start"
          *ngFor="let order of OrderedProducts"
          lines="full"
        >
          <ion-label>
            <h2>{{order.productName}}</h2>
            <p>
              {{order.productPrice*order.productQuantity
              |currency:"INR":'symbol':'2.0' }}
            </p>
          </ion-label>
          <ion-label slot="end">
            <h2>Quantity: {{order.productQuantity }}</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="full">
          <strong> Total Amount:</strong>
          <ion-label slot="end">
            <strong>
              {{ product.totalAmount | currency:"INR":'symbol':'2.0' }}
            </strong>
          </ion-label>
        </ion-item>
        <ion-item lines="full">
          <strong><ion-label>Status:</ion-label></strong>
          <ion-label slot="end" *ngIf="id.status=='undelivered'">
            Undelivered
          </ion-label>
          <ion-label slot="end" *ngIf="id.status=='delivered'">
            Delivered
          </ion-label>
        </ion-item>
        <ion-item lines="full">
          <strong><ion-label>Payment Method:</ion-label></strong>
          <ion-label slot="end">
            {{id.paymentId}}
            <p
              *ngIf="id.status=='delivered' || id.paymentId!=='Cash On Delivery' "
              class="invoice"
              (click)="createPDF(id.orderId)"
            >
              Invoice
            </p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="id.status=='undelivered'" lines="full">
          <strong><ion-label>Cancel Order:</ion-label></strong>
          <ion-button
            color="danger"
            slot="end"
            (click)="cancelOrder(id.orderId)"
            >Cancel Order</ion-button
          >
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
