<ion-menu menuId="main-menu" content-id="main" side="start">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
      <ion-title> Menu </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="true">
        <ion-item routerLink="/home">
          <ion-icon id="scan" name="scan-sharp"></ion-icon>
          <ion-label class="ion-padding-start">Scanner</ion-label>
        </ion-item>
        <ion-item routerLink="user">
          <ion-icon id="profile" name="person-circle-sharp"></ion-icon>
          <ion-label class="ion-padding-start">My Account</ion-label>
        </ion-item>
        <ion-item routerLink="cart">
          <ion-icon id="cart" name="cart"></ion-icon>
          <ion-label class="ion-padding-start">Cart Items</ion-label>
        </ion-item>
        <ion-item routerLink="orders">
          <ion-icon id="order" name="file-tray-full"></ion-icon>
          <ion-label class="ion-padding-start">Orders</ion-label>
        </ion-item>
        <ion-item *ngIf="this.userInfo.admin == true" routerLink="products">
          <ion-icon id="products" name="bag-check"></ion-icon>
          <ion-label class="ion-padding-start">Products</ion-label>
        </ion-item>
        <ion-item *ngIf="this.userInfo.admin == true" routerLink="total-orders">
          <ion-icon id="total" name="layers-sharp"></ion-icon>
          <ion-label class="ion-padding-start">Total Orders</ion-label>
        </ion-item>
        <ion-item class="pointer" (click)="signout()">
          <ion-icon id="logout" name="log-out"></ion-icon>
          <ion-label class="ion-padding-start">Sign Out</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
