.pointer {
  cursor: pointer;
}
#home {
  color: #039ebd;
}
#profile {
  color: #1aa075;
}
#cart {
  color: #f2a900;
}
#order {
  color: #ed2744;
}
#products {
  color: #ffa500;
}
#total {
  color: #e64739;
}
#logout {
  color: #209aed;
}
#help {
  color: #007499;
}
#image-center {
  width: 80px !important;
  height: 96px !important;
  margin: auto;
}
