.pointer {
  cursor: pointer;
}
#scan {
  color: #6acaf5;
}
#profile {
  color: #4688f1;
}
#cart{
    color: #1AD85A;
}
#order{
    color: #5EBAE7;
}
#products{
    color: #FFA500;
}
#total{
    color: #E64739;
}
#logout{
    color: #209AED;
}