.pointer {
  cursor: pointer;
}
#scan {
  color: #6acaf5;
}
#profile {
  color: #039EBD;
}
#cart{
    color: #1AA075;
}
#order{
    color: #ED2744;
}
#products{
    color: #FFA500;
}
#total{
    color: #E64739;
}
#logout{
    color: #209AED;
}
#help{
  // color: #005973;
  color: #007499;
}