<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
    <ion-button slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>
    awfi Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
    reiciendis quod, voluptatum quis ratione praesentium illum eius vitae
    eligendi quasi ab placeat cumque tempora? Ratione impedit eligendi a enim
    alias optio fugit debitis nisi quos, corrupti nemo esse veniam cum. Corrupti
    vel accusamus, accusantium unde nemo nesciunt! Beatae nihil asperiores eos
    veniam itaque, suscipit voluptates exercitationem.
  </p>
</ion-content>
