<form [formGroup]="myForm">
  <ion-item>
    <ion-label position="stacked">Product Name</ion-label>
    <ion-input
      inputmode="text"
      placeholder="Product Name"
      minlength="5"
      maxlength="25"
      clearInput
      spellcheck="true"
      required="true"
      formControlName="productName"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea
      required="true"
      inputmode="text"
      rows="6"
      cols="20"
      placeholder="Enter Product Description here..."
      spellcheck="true"
      wrap="hard"
      formControlName="productDescription"
    >
    </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Product Price</ion-label>
    <!-- minlength="2" -->
    <!-- min="0" oninput="this.value = 
 !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" -->
    <ion-input
      placeholder="Product Price in rupees"
      type="number"
      onKeyPress="if(this.value.length==4) return false;"
      onkeyup="if(this.value<0){this.value= this.value * -1}"
      max="4"
      required="true"
      formControlName="productAmount"
    ></ion-input>
  </ion-item>

  <label class="image-upload-container btn btn-bwm">
    <span>Select Image</span>
    <input
      #imageInput
      required="true"
      type="file"
      accept="image/*"
      (change)="processFile(imageInput)"
      formControlName="productImage"
    />
  </label>

  <div *ngIf="selectedFile" class="imgc">
    <div
      class="img"
      [ngStyle]="{ 'background-image': 'url(' + selectedFile.src + ')' }"
    ></div>
  </div>

  <div class="qrcode">
    <qrcode
      [qrdata]="generateId"
      [width]="256"
      [elementType]="'img'"
      [errorCorrectionLevel]="'Q'"
      cssClass="center"
    >
    </qrcode>
    {{ generateId }}
  </div>
  <!-- colorLight="#00ffff" -->

  <ion-button [disabled]="!myForm.valid" (click)="addProduct()">
    Generate Product
  </ion-button>
  <ion-button (click)="dailogClose()">Close</ion-button>
</form>
