<form [formGroup]="addProductForm">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input
        type="text"
        inputmode="text"
        placeholder="Product Name"
        formControlName="productName"
        minlength="4"
        maxlength="25"
        required="true"
        spellcheck="true"
        clearInput
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Description:</ion-label>
      <ion-textarea
        type="text"
        inputmode="text"
        placeholder="Enter Product Description here..."
        required="true"
        formControlName="productDescription"
        spellcheck="true"
        wrap="hard"
        rows="5"
      >
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Price:</ion-label>
      <ion-input
        type="number"
        inputmode="numeric"
        required="true"
        formControlName="productAmount"
        placeholder="Product Price in rupees"
        min="1"
        >₹</ion-input
      >
    </ion-item>
    <ion-item>
      <label>
        <ion-text class="lable">Select Image</ion-text>
        <input
          class="imageInput"
          #imageInput
          required="true"
          type="file"
          accept="image/*"
          (change)="processFile(imageInput)"
          formControlName="productImage"
        />
      </label>
    </ion-item>
    <ion-item *ngIf="selectedFile">
      <ion-img [src]="this.selectedFile"></ion-img>
    </ion-item>
  </ion-list>
</form>
<div class="end">
  <ion-button (click)="dailogClose()">Close</ion-button>
  <ion-button
    [disabled]="addProductForm.invalid"
    type="submit"
    (click)="addProduct()"
    >Add Product
  </ion-button>
</div>
