@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
/* @import "./theme/fonts.scss"; */
::ng-deep mat-dialog-container {
  border-radius: 15px !important;
  /* background-color: #d7aefb !important; */
}

ng-container {
  --ion-background-color: transparent !important;
}
/* 
ion-list {
  --ion-background-color: transparent !important;
  --ion-border-color: transparent !important;
} */

/* .btn-bwm {
  background-color: skyblue;
  border-color: palegoldenrod;
  color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
  /* font-size: 20px; 
  &:hover,&:focus,&:active{
  border-color: blue;
  } 
} */

ion-text {
  background-color: skyblue;
  border-color: palegoldenrod;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.imageInput {
  display: none;
}
/* .image-upload-container{
  cursor: pointer;

} */
.imgc {
  background-color: transparent;
  position: relative;
}
.img {
  background: center center no-repeat;
  background-size: contain;
  height: 150px;
  width: 100%;
}

