<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Smart Mart</ion-title>
    <ion-menu-button slot="start" menu="main-menu"> </ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- class="full border" -->
  <zxing-scanner
    [enable]="true"
    (scanSuccess)="onCodeResult($event)"
  ></zxing-scanner>
  <!-- <qrcode
    *ngFor="let qrData"
    [qrdata]="qrData"
    [width]="100"
    [elementType]="'img'"
    [errorCorrectionLevel]="'Q'"
    cssClass="center"
  ></qrcode> -->
  <section class="results" *ngIf="qrResultString">
    <div>
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
    </div>
  </section>
  <ion-button class="end" (click)="getProduct()" type="submit">Get Product</ion-button>
</ion-content>
