.border {
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  border: 20px solid;
}

.full {
  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
  border-radius: 50px;
}
.end {
  float: right;
}

#cart {
  color: #f2a900;
}
#order {
  color: #ed2744;
}
