<form [formGroup]="editProduct">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Product Name:</ion-label>
      <ion-input
        inputmode="text"
        placeholder="Product Name"
        minlength="5"
        maxlength="25"
        clearInput
        spellcheck="true"
        required="true"
        formControlName="productName"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Description:</ion-label>
      <ion-textarea
        required="true"
        inputmode="text"
        rows="5"
        placeholder="Enter Product Description here..."
        spellcheck="true"
        wrap="hard"
        formControlName="productDescription"
      >
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Price:</ion-label>
      <ion-input
        placeholder="Product Price in rupees"
        type="number"
        onKeyPress="if(this.value.length==4) return false;"
        onkeyup="if(this.value<0){this.value= this.value * -1}"
        max="4"
        required="true"
        formControlName="productAmount"
        >₹
      </ion-input>
    </ion-item>
    <ion-item>
      <!-- <ng-container> -->
      <label>
        <ion-text class="lable">Select Image</ion-text>
        <input
          class="imageInput"
          #imageInput
          type="file"
          accept="image/*"
          (change)="processFile(imageInput)"
        />
      </label>
      <!-- </ng-container> -->
    </ion-item>
    <ion-item>
      <ion-img [src]="this.selectedFile"></ion-img>
    </ion-item>
  </ion-list>
</form>
<ion-button (click)="dailogClose()">Close</ion-button>
<ion-button
  [disabled]="!(editProduct.valid && editProduct.dirty)"
  type="submit"
  (click)="updateProduct()"
>
  Update Product
</ion-button>
