<ion-content>
  <mat-dialog-content class="mat-typography">
    <ion-slides pager="true">
      <ion-slide>
        <div>
          <img src="./assets/camera.png" />
          <h2>Permission</h2>
          <p>Give permission to camera to scan QR code</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div>
          <img src="./assets/welcome.jpg" />
          <h2>Enjoy</h2>
          <p>Create a new shopping experience on <b>SMART MART</b>.</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
      </ion-slide>
    </ion-slides>
  </mat-dialog-content>
</ion-content>
